
@*
    For more information on enabling MVC for empty projects, visit http://go.microsoft.com/fwlink/?LinkID=397860
*@
<div class="back-to-top">
    <a href="#">Back to top</a>
</div>
<footer class="site-footer">
    <div class="footer-content">
        <div class="footer-section">
            <h3>Get to Know Us</h3>
            <ul>
                <li><a href="#">Careers</a></li>
                <li><a href="#">Blog</a></li>
                <li><a href="#">About Amazon</a></li>
                <li><a href="#">Investor Relations</a></li>
                <li><a href="#">Amazon Devices</a></li>
                <li><a href="#">Amazon Science</a></li>
            </ul>
        </div>
        <div class="footer-section">
            <h3>Make Money with Us</h3>
            <ul>
                <li><a href="#">Sell products on Amazon</a></li>
                <li><a href="#">Sell on Amazon Business</a></li>
                <li><a href="#">Sell apps on Amazon</a></li>
                <li><a href="#">Become an Affiliate</a></li>
                <li><a href="#">Advertise Your Products</a></li>
                <li><a href="#">Self-Publish with Us</a></li>
            </ul>
        </div>
        <div class="footer-section">
            <h3>Amazon Payment Products</h3>
            <ul>
                <li><a href="#">Amazon Business Card</a></li>
                <li><a href="#">Shop with Points</a></li>
                <li><a href="#">Reload Your Balance</a></li>
                <li><a href="#">Amazon Currency Converter</a></li>
            </ul>
        </div>
        <div class="footer-section">
            <h3>Let Us Help You</h3>
            <ul>
                <li><a href="#">Amazon and COVID-19</a></li>
                <li><a href="#">Your Account</a></li>
                <li><a href="#">Your Orders</a></li>
                <li><a href="#">Shipping Rates & Policies</a></li>
                <li><a href="#">Returns & Replacements</a></li>
                <li><a href="#">Help</a></li>
            </ul>
        </div>
    </div>
    <div class="footer-bottom">
        <img src="images/amazon-logo.png" alt="Amazon Logo">
        <div class="footer-bottom-links">
            <a href="#">Conditions of Use</a>
            <a href="#">Privacy Notice</a>
            <a href="#">Interest-Based Ads</a>
            <a href="#">© 1996-2024, Amazon.com, Inc. or its affiliates</a>
        </div>
    </div>
</footer>