@model AmazonClone.Areas.Admin.Models.Cart

@{
    ViewData["Title"] = "Edit";
    Layout = "~/Areas/Admin/Views/Shared/_AdminLayout.cshtml";
}

<h1>Edit Cart</h1>

<h4>Cart Details</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="CartId" />

            <h5>Products in Cart</h5>
            <ul>
                @foreach (var cartItem in Model.CartItems)
                {
                    <li>
                        <div class="form-group">
                            <label>Product: @cartItem.Product.Name</label>
                        </div>
                        <div class="form-group">
                            <label asp-for="@cartItem.Quantity" class="control-label">Quantity</label>
                            <input asp-for="@cartItem.Quantity" class="form-control" />
                            <span asp-validation-for="@cartItem.Quantity" class="text-danger"></span>
                        </div>
                    </li>
                }
            </ul>

            <div class="form-group">
                <label asp-for="DeliveryOptionId" class="control-label">Delivery Option</label>
                <select asp-for="DeliveryOptionId" class="form-control" asp-items="ViewBag.DeliveryOptionId"></select>
                <span asp-validation-for="DeliveryOptionId" class="text-danger"></span>
            </div>

            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>
