<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Admin Dashboard</title>
    <link rel="icon" href="images/icons/01cada77a0a7d326d85b7969fe26a728.jpg">
    <!-- Load a font called Roboto from Google Fonts. -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap" rel="stylesheet">
    <!-- Here are the CSS files for this page. -->
    <link href="~/styles/pages/admin.css" rel="stylesheet" />
    <link href="~/styles/shared/general.css" rel="stylesheet" />
    <link href="~/styles/pages/amazon.css" rel="stylesheet" />
    <link href="~/styles/pages/admin-footer.css" rel="stylesheet" />
    <link href="~/styles/shared/table.css" rel="stylesheet" />
    <link href="~/styles/shared/form.css" rel="stylesheet" />
</head>
<body>
    <header>
       <div class="title"
           ><h1>Admin Dashboard</h1>
       </div> 
        <nav>
            <button class="codepro-custom-btn codepro-btn-14" target="blank" title="Code Pro"> <a asp-controller="Users" asp-action="Index">Users</a></button>
            <button class="codepro-custom-btn codepro-btn-14" target="blank" title="Code Pro"><a asp-controller="Products" asp-action="Index">Products</a></button>
            <button class="codepro-custom-btn codepro-btn-14" target="blank" title="Code Pro"> <a asp-controller="Cart" asp-action="Index">Cart</a> </button>
            <button class="codepro-custom-btn codepro-btn-14" target="blank" title="Code Pro"> <a asp-controller="DeliveryOptions" asp-action="Index">DeliveryOptions</a></button>
            <button class="codepro-custom-btn codepro-btn-14" target="blank" title="Code Pro"><a asp-controller="Orders" asp-action="Index">Orders</a></button>
            <button class="codepro-custom-btn codepro-btn-14" target="blank" title="Code Pro"><a asp-controller="Tracking" asp-action="Index">Orders Tracking</a></button>
              
        </nav>
    </header>
    <div class="main">  
            @RenderBody()
    </div>
    @await Html.PartialAsync("_AdminFooter.cshtml")
    <script type="module" src="~/javascript/amazon.js"></script>
    <script type="module" src="~/javascript/admin.js"></script>
</body>
</html>